# This file was updated by Duplicator on 2026-03-13 09:18:29.
# See the original_files_ folder for the original source_site_htaccess file.

# BEGIN Security
<Files "debug.log">
    Order allow,deny
    Deny from all
</Files>
# END Security

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress